
<mat-list>
  <h3 mat-subheader>aside works!</h3>
  <button mat-button routerLink="./info">
    <mat-list-item>
      <mat-icon>person</mat-icon>
      個人資訊
    </mat-list-item>
  </button>
  <button mat-button routerLink="./calendar">
    <mat-list-item>
      <mat-icon>today</mat-icon>
      今日事項
    </mat-list-item>
  </button>
  <button mat-button>
    <mat-list-item>
      <mat-icon>phone</mat-icon>
      連絡電話
    </mat-list-item>
  </button>
  <button mat-button>
    <mat-list-item>
      <mat-icon>border_color</mat-icon>
      編寫日誌
    </mat-list-item>
  </button>
  <button mat-button>
    <mat-list-item>
      <mat-icon>playlist_add_check</mat-icon>
      確認事項
    </mat-list-item>
  </button>
  <button mat-button>
    <mat-list-item>
      <mat-icon>cloud_download</mat-icon>
      下載
    </mat-list-item>
  </button>
  <button mat-button>
    <mat-list-item>
      <mat-icon>weekend</mat-icon>
    </mat-list-item>
  </button>
  <button mat-button>
    <mat-list-item>
      <mat-icon>attach_money</mat-icon>
      收支紀錄
    </mat-list-item>
  </button>
</mat-list>
