.layout {
  background: black;
  .header {
    background: 	#336666;
  }
  .main {
    background: grey;
    .aside {
      background: 	#6FB7B7;
    }
    .content {
      background: #B3D9D9	;
    }
  }
}
